
       html {
scroll-behavior: smooth;
}
	body {
    font-family: 'Arial', sans-serif;
    font-family: 'Palatino Linotype', serif;
    margin: 0;
    padding: 0;
background: -webkit-linear-gradient(45deg, rgb(156, 167, 164) 30%, rgb(106, 120, 120) 61%);
background: -moz-linear-gradient(45deg, rgb(156, 167, 164) 30%, rgb(106, 120, 120) 61%);
background: linear-gradient(45deg, rgb(156, 167, 164) 30%, rgb(106, 120, 120) 61%);
}

h1, p {color:#ddd;
    text-align: center;
    
}
.logo_pizza{
position: relative;
top: 76px;
right: 20px;
}

h1{
    text-align: left;
    position: relative;
left: 35px;
}
.container {
    width: 80%;
    margin: 0 auto;
}

header, nav, section, footer {
    padding: 1em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

section {
    margin-bottom: 20px;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    
background: -webkit-linear-gradient(45deg, rgb(156, 167, 164) 32%, rgb(106, 120, 120) 28%);
background: -moz-linear-gradient(45deg, rgb(156, 167, 164) 32%, rgb(106, 120, 120) 28%);
background: linear-gradient(45deg, rgb(156, 167, 164) 32%, rgb(106, 120, 120) 28%);
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
    color: #ff8800;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}
.pizza_name {
color: #ffd700;

}

.pizza_text{
color: #ffffff;


}
label {
    margin-bottom: 5px;
}

input[type="number"] {
    margin-bottom: 10px;
}

footer {
    text-align: center;
}
.without_0{
    padding: 0;
    margin: 0;
}

.zelda{
    color: white;
    text-decoration: none;
}
.bord{
    border-bottom: 1px solid #ddd;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;

}
.bord1 {
    color:#ddd;
    padding: 0;
    margin: 0;
}
.central{
    vertical-align: middle;
}
.name {
    color: white;
}
.container1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top_navigation{
    position: fixed; /* Фиксированная позиция */
            width: 100%;
            top: 100;
            z-index: 1000; /* Устанавливаем z-index, чтобы навигация оставалась выше остального контента */
}


.menu-item1 {
    border: 1px solid #ddd;
    padding: 20px;
    clear: both;
    margin-bottom: 20px;
    text-align: center;
    flex-basis: calc(43% - 20px); 
    box-sizing: border-box;
background: -webkit-linear-gradient(45deg, rgb(156, 167, 164) 32%, rgb(106, 120, 120) 28%);
background: -moz-linear-gradient(45deg, rgb(156, 167, 164) 32%, rgb(106, 120, 120) 28%);
background: linear-gradient(45deg, rgb(156, 167, 164) 32%, rgb(106, 120, 120) 28%);
}


.water{
    width: 80%;
    margin: 0 auto;
    color: white;
}


.sidebar { 

            color: #fff;
            width: 70px;
            padding: 20px;
            padding-top: 60px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 1000;
            height: 100%;
            position: fixed; /* Фиксированная позиция */
            z-index: 1000;
            margin-top: -70.5px;
            background-color: rgba(205, 214, 219, 0.01);
        
            
        }

        .sidebar a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 10px 0;
            transition: background-color 0.3s;
            padding-bottom: 10px;
            text-align: center;

        }

            /* Стили для основного контента */
        .content {
            flex: 1;
            padding: 0px;
            margin: 0;
        }
        .change-text{  /*меняет цвет при наведении */
  padding: 20px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.change-text:hover{
  color: #c3dfdb;  /* Конец */
}
.item {    /*анимация на картинке */
  color: white;
  transition: transform ease 300ms;
}

.item:hover {
  transform: translate(0, -10px);
}      

section{
    padding: 0px;
    margin: 0px;
}
